{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
    <title>Document</title>
  </head>
  <body class="login_body">
    <h1 class="login_title">E-Planner</h1>
    <div class="login_box">
      <div class="login_contents">
        <div class="login_id">ID</div>
        <input type="text" class="input_id" name="username" />
        <div class="login_pwd">password</div>
        <input type="password" class="input_pwd" name="password1" />
        <div class="login_pwd">confirm password</div>
        <input type="password" class="input_pwd" name="password2" />
        <div class="button">
          <a href="#"
            ><button class="button">
              Register
            </button>
          </a>
        </div>
      </div>
    </div>
    <script src="{% static 'signup_bg.js' %}"></script>
  </body>
</html>
